<mat-toolbar class="custom-header">
  <div class="container">
    <div class="logo">
      <img src="assets/icons/cooking-logo.svg" alt="" height="30" width="30">
      <span class="title">RecipeAI</span>
    </div>

    <div class="right-side-header">
      <button matButton>
        Accueil
      </button>
      <button matButton>
        Mes Recettes
      </button>
      <button matButton>
        Ingrédients
      </button>
      <button matButton>
        Suggestions IA
      </button>
      <button matButton>
        Planification
      </button>
      <button matButton>
        Liste de courses
      </button>
    </div>
  </div>

</mat-toolbar>
