:host{
  .custom-header {
    background-color: #1e88e5; /* custom blue */
    color: white;

  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .right-side-header{
    display: flex;
    flex-direction: row;

    button{
      color: white;
    }
  }
}
